/* extra fonts
 * DINOT
 */
@font-face {
  font-family:'DINOT-Regular';
  src:url("../DINOT/DINOT-Regular.eot");
  src:url("../DINOT/DINOT-Regular.eot?#iefix") format("embedded-opentype"),
  url("../DINOT/DINOT-Regular.woff") format("woff"),
  url("../DINOT/DINOT-Regular.svg") format("svg"),
  url("../DINOT/DINOT-Regular.ttf") format("truetype");
}
@font-face {
  font-family:'DINOT';
  src:url("../DINOT/DINOT-Bold.eot");
  src:url("../DINOT/DINOT-Bold.eot?#iefix") format("embedded-opentype"),
  url("../DINOT/DINOT-Bold.woff") format("woff"),
  url("../DINOT/DINOT-Bold.svg") format("svg"),
  url("../DINOT/DINOT-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family:'DINOT';
  src:url("../DINOT/DINOT-Medium.eot");
  src:url("../DINOT/DINOT-Medium.eot?#iefix") format("embedded-opentype"),
  url("../DINOT/DINOT-Medium.woff") format("woff"),
  url("../DINOT/DINOT-Medium.svg") format("svg"),
  url("../DINOT/DINOT-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family:'DINOT';
  src:url("../DINOT/DINOT-Light.eot");
  src:url("../DINOT/DINOT-Light.eot?#iefix") format("embedded-opentype"),
  url("../DINOT/DINOT-Light.woff") format("woff"),
  url("../DINOT/DINOT-Light.svg") format("svg"),
  url("../DINOT/DINOT-Light.ttf") format("truetype");
  font-weight: 400;
}

/* search-form */
.t_searchplace {
  /*margin-top: -46px !important;*/
  z-index: 3;
  position: relative;
  border-bottom: solid 1px #000000;
  background: #f7f7f7;
}
.t_searchpopular {
  display: block;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.t_searchpopular.t_searchpopular--hidden {
  display: none;
}
.t_searchplace input[type="text"] {
  background-color: transparent;
  padding: .4em 1.2em;
  height: 41px;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.t_searchplace input[type="text"]:focus {
  border: solid 1px #38c4a4;
  box-shadow: 1px 1px 1px #38c4a4,1px 0 1px #38c4a4,0 1px 1px #38c4a4,-1px -1px 1px #38c4a4;
}
.t_searchplace input[type="text"]::placeholder {
  opacity: 0.5;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_searchplace input[type="text"]:-moz-placeholder {
  opacity: 0.5;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_searchplace input[type="text"]::-moz-placeholder {
  opacity: 0.5;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_searchplace input[type="text"]:-ms-input-placeholder {
  opacity: 0.5;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_searchplace input[type="text"]::-webkit-input-placeholder {
  opacity: 0.5;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_searchplace .t_search_desc {
  right: 9.5px;
  width: 25px;
  height: 31px;
}
.t_searchpopular {
  margin-top: 40px;
  text-align: left;
}
.t_searchpopular h4 {
  opacity: .5;
  font-family: DINOT;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}
.t_searchpopular ul {
  margin-top: 0;
  list-style: none;
}
.t_searchpopular ul li {
  margin: 6px 0;
  font-family: 'DINOT-Regular';
}
.t_searchpopular ul li:last-child {
  margin-bottom: 0;
}

.t_searchresult {
  padding: 10px 8px 0;
  margin-top: 10px;
  display: block;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.t_searchresult.t_searchresult--hidden {
  display: none;
}
.search_item {
  margin-bottom: 12px;
}
.search_item:last-child(1),
.search_item:last-child(2),
.search_item:last-child(3) {
  margin-bottom: 0;
}
.search_item > div {
  display: flex;
  background: white;
  margin-left: -8px;
  margin-right: -8px;
  height: 100%;
}
.search_item .item_img {
  /*height: 80px;*/
  width: 80px;
  overflow: hidden;
}
.search_item .item_title {
  padding: 10px 5px 10px 10px;
  width: calc(100% - 80px);
  text-align: left;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: space-between;
}
.search_item .item_title h5 {
  font-family: 'DINOT-Regular';
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  color: black;
  line-height: 20px;
  margin-bottom: 2px;
}
.search_item .item_attr {
  margin-top: 0;
}
.search_item .item_attr > div {
  padding-right: 0;
}
.item_attr > div.item_recipes {
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  opacity: .5;
}
.item_attr .item_score {
  padding-left: 5px;
  position: relative;
}
.item_attr .item_score::before {
  content: '';
  height: 16px;
  width: 1px;
  background: #d6d6d6;
  position: absolute;
  left: -1px;
  top: 8px;
}
.item_attr .item_score > span {
  margin-right: 2px;
}
.item_attr .item_score img {
  height: 19px;
}
.item_attr .item_score span {
  font-size: 10px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  float: none;
}
.search_item a {
  text-decoration: none;
}
.item_stars {
}
.item_stars .stars_active {
  background: url(../images/rating-active.svg) repeat-x center left;
  background-size: 18px;
  display: block;
  /*width: 90px;*/
  height: 20px;
  vertical-align: middle;
  margin-top: 5px;
  z-index: 2;
  position: relative;
}
.item_stars .stars_passive {
  background: url(../images/rating-inactive.svg) repeat-x center left;
  background-size: 18px;
  display: block;
  width: 90px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}
.t_search_box {
  position: relative;
}
.t_search_box::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.t_search_box.t_search_box--loading::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(247, 247, 247, 0.6) url('../images/loading_img.gif') no-repeat center center;
  background-size: 48px auto;
}
.t_search_box a {
  border-bottom: 0;
}

/* search page */
body.search #header-desktop header.below-ad {
  position: static;
}
body.search .wrap {
  max-width: 1280px;
  padding-left: 0;
  padding-right: 0;
}
body.search .page-header {
  width: 100%;
}
body.search #primary {
  display: block;
  width: 100%;
  float: none;
}
.search_content {
  padding: 0 8px;
}
.search_content h5 a {
  border-bottom: 0;
}
.top_page {
  text-align: left;
  padding: 18px 0;
}
.top_page h1 {
  margin-top: 35px;
  display: inline-block;
}
.top_page small {
  margin-left: 13px;
  font-size: 11px;
  text-transform: uppercase;
}
.top_page .filter_box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.top_page .filter_box > div {
  display: block;
  padding: 0;
  border: solid 2px #38c4a4;
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 100%;
  width: 158px;
  position: absolute;
  overflow: hidden;
  top: calc( 100% - 45px );
  z-index: 2;
}
.top_page .filter_box > div p::after {
  content: '';
  top: 7px;
  right: 23px;
  background: url(../images/arrow-green.svg) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.top_page .filter_box > div.filter_box--active p::after {
  content: '';
  top: 7px;
  right: 23px;
  background: url(../images/arrow-green.svg) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.top_page .filter_box p {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 10px 18px;
  cursor: pointer;
  position: relative;
}
#filters {
  height: 0;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
#filters button {
  outline: 0 !important;
  background: transparent;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 0 5px 18px;
  display: block;
  width: 100%;
  text-align: left;
}
#filters button::before {
  content: '';
  display: inline-block;
  width: 12px;
  border-radius: 20px;
  height: 12px;
  border: solid 1px #c2c2c2;
  background: transparent;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-transform: all ease-in-out;
  -moz-transform: all ease-in-out;
  -ms-transform: all ease-in-out;
  -o-transform: all ease-in-out;
  transform: all ease-in-out;
}
#filters button.is-checked::before {
  content: '';
  display: inline-block;
  width: 12px;
  border-radius: 20px;
  height: 12px;
  vertical-align: middle;
  margin-right: 10px;
  border: solid 1px #38c4a4;
  background: #38c4a4;

}
div.filter_box--active #filters {
  height: auto;
  padding-bottom: 10px;
}
#mm-1 {
  z-index: 2;
}
footer .footer-wrapper .social-links .social-sharing-links ul li a {
  text-align: center;
}
.elm-wrapper {
  display: block;
  clear: both;
  margin-top: 0;
  padding-top: 12px;
}
.elm-button {
  width: 101px;
  background: transparent !important;
  height: 38px;
  padding: 0;
  border-radius: 20px;
  border: solid 2px #38c4a4;
  overflow: hidden;
}
.elm-button span {
  font-family: 'DINOT';
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #000000;
}
.elm-button .elm-loading-anim {
  background: #38c4a4;
  line-height: 38px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.elm-button.is-loading .elm-loading-anim {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}
.elm-loading-anim svg g {
  fill: #38c4a4;
}
#recipe_list .recipe-card:nth-child(4n+13) {
  margin: 0 1% 1% 0;
}
.bp_social_connect {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
i.collections_count,
i.recipes_count {
  font-style: normal;
}
div.cta-save-recipe {
  cursor: default;
}
.card,
.card-bg,
.recipe-card {
  opacity: 1;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  position: relative;
}
.card::after,
.card-bg::after,
.recipe-card::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.7);
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.card.recipe-card--loading::after,
.card-bg.recipe-card--loading::after,
.recipe-card.recipe-card--loading::after {
  content: '';
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.7);
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
.card.recipe-card--removing,
.card-bg.recipe-card--removing,
.recipe-card.recipe-card--removing {
  opacity: 0;
}


@media (max-width: 768px) {
  .top_page .filter_box > div {
    position: static;
    margin-top: 5px;
  }
}