.t_searchwrap{
  position: relative;
}

.t_searchplace .t_search_desc{
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  padding: 0;
  width: 21px;
  height: 23px;
}
.t_searchplace input[type="text"]{
  height: 40px;
  border-radius: 3px;
  border: solid 1px #c2c2c2;
}
.t_searchplace{
  display: none;
  background: #f2f2f2;
  padding: 40px 20px 20px;
  overflow: hidden;
}

#desctopsearch a.active{
  position: relative;
}
#desctopsearch a.active:after{
  content: '';
  position: absolute;
  background: #38c4a4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.wrap.nopad{
  padding-right: 0;
  padding-left: 0;
}

.t_register_banner ul li:before{
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/t_ok.png);
  background-size: contain;
  position: absolute;
  top: -2px;
  left: 0;
}
.t_register_banner ul li{
  position: relative;
  text-align: left;
  list-style: none;
  padding-left: 30px;
  margin-bottom: 14px;
}

.t_register_banner ul{
  margin: 0;
  padding: 0;
}

.t_register_banner h1{
  font-family: ChronicleDisplay;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
}

.t_register_banner .t_simplepad{
  padding-top: 25px;
  padding-bottom: 20px;
}
.t_register_banner{
  text-align: left;
  background: #fff;
  font-family: DINOT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

.t_simplepad{
  padding-left: 10px;
  padding-right: 10px;
}

.t_whiteleft{
  position: relative;
}

.t_whiteleft:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.t_form_styler label{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;

}
.t_form_styler{
  text-align: left;
}

.t_radio small{
  font-size: 11px;
  line-height: 17px;
  display: block;
}
.t_radio label{
  font-family: DINOT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
  padding-left: 27px;
  text-transform: none;
  margin-bottom: 10px;
}
.t_radio{
  position: relative;
  margin-bottom: 25px;
}


.t_register_form{
  padding-top: 60px;
  padding-bottom: 60px;
}


.t_form_styler .col-6,
.t_form_styler .col-12{
  padding-left: 6px;
  padding-right: 6px;
}
.t_form_styler input{
  font-family: DINOT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
  height: 40px;
  padding: 10px;
}

.t_form_styler input::-webkit-input-placeholder {
  font-size: 14px!important;
  color: #000;
}
.t_form_styler input:-moz-placeholder {
  font-size: 14px!important;
  color: #000;
}
.t_form_styler input::-moz-placeholder {
  font-size: 14px!important;
  color: #000;
}
.t_form_styler input:-ms-input-placeholder {
  font-size: 14px!important;
  color: #000;
}

.t_input_line{
  margin-bottom: 30px;
}

.t_form_styler input[type="submit"],
.greenbutton{
  display: inline-block!important;
  vertical-align: top;
  background: #38c4a4!important;
  color: #fff!important;
  text-transform: uppercase;
  font-family: DINOT;
  font-size: 11px!important;
  font-weight: 500!important;
  border: 0!important;
  border-radius: 20px!important;
  padding: 10px 20px!important;
  margin: 0 auto;
}

.t_form_styler input[type="submit"]:hover,
.greenbutton:hover{
  color: #fff;
}

.greenbutton.style-2.edit{
  position: relative;
  padding: 10px 60px 10px 20px!important;
}
.greenbutton.style-2.edit:after{
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  width: 23px;
  height: 23px;
  background: url(../images/t_pen.png) no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.greenbutton.style-2{
  border: 1px solid #38c4a4!important;
  background: transparent!important;
  color: #000!important;
}

.t_form_styler h2{
  font-family: ChronicleDisplay;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.text-center{
  text-align: center;
}

.t_facebook:hover{
  color: #fff;
}
.t_facebook{
  font-family: DINOT;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 22.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 16px 41px 16px 59px;
  min-width: 239px;
  margin-bottom: 20px;
  background: #4267B2 url(../images/t_facebook.png) 28px 12px no-repeat;
}

.t_gmail:hover{
  color: #000;
}
.t_gmail{
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  border-radius: 22.5px;
  border: solid 1px #000000;
  color: #000;
  padding: 16px 41px 16px 59px;
  min-width: 239px;
  background: url(../images/t_google.png) 28px 12px no-repeat;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-bottom: 20px;
}

.t_remember{
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}

.t_remember .t_forgot:hover{
  color: #38c4a4;
}
.t_remember .t_forgot{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 1px solid #38c4a4;
}

.t_remember .jq-checkbox.checked .jq-checkbox__div{
  width: 11px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.t_remember .jq-checkbox.checked{
  background: #38c4a4;
}
.t_remember .jq-checkbox{
  border-radius: 50%;
  box-shadow: none;
}
.t_remember .t_radio{
  margin-bottom: 0;
}

.t_account .col-12,
.t_preference_choose .col-12{
  padding-left: 6px;
  padding-right: 6px;
}

.t_account .row,
.t_form_styler.row,
.t_form_styler .row,
.t_preference_choose .row{
  margin-left: -6px;
  margin-right: -6px;
}
.t_preference_choose {
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
}
.t_preference_choose_txt{
  margin-bottom: 40px;
}
.t_preference_choose h1+p{
  margin-top: 0;
}
.t_preference_choose h1{
  font-family: ChronicleDisplay;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 20px;
}

.t_prefcheck label .t_content small{
  opacity: 0.5;
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: absolute;
  bottom: 10px;
  left: 15px;
  text-transform: uppercase;
}
.t_prefcheck label .t_content h3 a{
  color: #000000;
}
.t_prefcheck label .t_content h3{
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
}
.t_prefcheck label .t_content{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  position: relative;
}
.t_prefcheck label .t_image{
  width: 90px;
  height: 90px;
}

.t_prefcheck label{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  cursor: pointer;
}

.t_prefcheck .jq-checkbox.checked{
  background: #38c4a4;
  border: 1px solid #38c4a4;
}
.t_prefcheck .jq-checkbox.checked .jq-checkbox__div{
  width: 15px;
  height: 8px;
  margin: 5px 0 0 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.t_prefcheck .jq-checkbox{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  box-shadow: none;
}
.t_prefcheck {
  position: relative;
  margin-bottom: 10px;
}

.greenborder{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 1px solid #38c4a4;
  display: inline-block;
  vertical-align: top;
}

.t_preference_button .greenbutton{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.t_preference_button{
  padding-top: 25px;
}

.remodal h2{
  border: 0;
  font-family: ChronicleDisplay;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 15px;
}
.remodal .remodal_close_wrap .remodal-close:before{
  content: '';
  left: auto;
  right: 0;
  background: url(../images/t_close.png) no-repeat;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.remodal .remodal_close_wrap .remodal-close:hover{
  background: transparent;
}
.remodal .remodal_close_wrap .remodal-close{
  position: absolute;
  top: -46px;
  right: -20px;
  left: auto;
  width: auto;
  height: auto;
  padding-right: 41px;
  font-family: DINOT;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.remodal .remodal_close_wrap{
  position: relative;
}

.remodal_form{
  margin-top: 30px;
}
.remodal h2+p{
  margin-top: 0;
}
.remodal label{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;

}
.remodal input{
  height: 40px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 20px;
}
.remodal.small{
  max-width: 490px;
}
.remodal{
  text-align: left;
  padding: 20px!important;
  font-family: DINOT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000!important;
  background: #f7f7f7!important;
}

.t_back:before{
  content: '';
  background: url(../images/t_greenarrow.png);
  position: absolute;
  top: 49%;
  left: -6px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  width: 23px;
  height: 23px;
  background-size: contain;
}
.t_back{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
  padding: 15px 15px 15px 20px;
  text-transform: uppercase;
  position: relative;
}

.t_account h1+*,
.t_account h2+*,
.t_account h3+*,
.t_account h4+*,
.t_account h5+*,
.t_account h6+* {
  margin: 0;
}

.t_account h2{
  margin-bottom: 20px;
}
.t_account{
  text-align: left;
}

.t_profile_box{
  min-height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #e7e7e7;
  text-align: center;
  margin-bottom: 35px!important;
}

.t_profile_image img{
  border-radius: 100%;
  border: 4px solid #e7e7e7;
  box-shadow: 0px 0px 0px 1px #000;
}
.t_profile_box .greenborder{
  white-space: nowrap;
  margin-top: 15px;
}
.t_profile_image{
  width: 88px;
  height: 88px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
}

.t_account_line{
  margin-bottom: 37px!important;
}
.t_account_line.email{
  margin-bottom: 54px!important;
}
.t_account_line label{
  margin-bottom: 5px;
}

.t_backmargin{
  margin-bottom: 20px;
}

.mb17{
  margin-bottom: 17px!important;
}

.t_account_profile_title h1 img{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  max-width: 40px;
  border-radius: 100%;
}
.t_account_profile_title h1{
  position: relative;
  padding-left: 55px;
  font-family: ChronicleDisplay;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.t_account_profile_title .greenbutton{
  margin-right: 20px;
}

.t_accordion_head .arrow{
  width: 30px;
  height: 30px;
  background: url(../images/t_greenarrow.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.t_accordion_head{
  font-family: ChronicleDisplay;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  clear: both;
}
.t_accordion_body{
  padding-bottom: 40px;
}

.t_clear{
  clear: both;
}

.recipe-rating .rateit-range {
  background: url(http://delicious.1devserver.co.uk/wp-content/plugins/yet-another-stars-rating/img/stars_16_flat.png) left 0px !important;
}

.nav-list li a.active:after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #38c4a4;
}

.nav-list li a.active{
  position: relative;
  display: block;
  color: #000;
}

.nav-list li a.t_inaccount img{
  position: absolute;
  top: 50%;
  left: -33px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-list li a.t_inaccount{
  position: relative;

}

.mm-listitem .mm-btn_next:before,
#menu-location-main-menu .menu-item-image,
#mobmenu{
  display: none;
}

.mm-listitem .menu-item-image{
  width: 30px;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
}

.mm-listitem{
  text-align: left;
}

.mm-panel .mm-listitem {
  position: relative;
  text-align: left;
  padding-left: 40px;
}

#menu-location-main-menu.mm-panel .mm-listitem {
  padding-left: 0;
}

.mm-menu .mm-listview .mm-btn_next:after,
.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
  border-color: #38c4a4;
}

.mm-listitem:after {
  left: 0;
}

.mm-navbar{
  background: #fff;
}

.mm-btn_close:before,
.mm-btn_close:after{
  border-color: #000!important;
}

.t_external a{
  position: relative;
  display: inline-block;
  opacity: 0.5;
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  overflow: visible;
}
.t_external a:after{
  content: '';
  background: url(../images/t_external.png) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#menu-location-main-menu .mm-listview .t_external.mm-listitem,
#menu-location-main-menu .mm-listview .mm-listitem{
  width: 100%;
}
#menu-location-main-menu .mm-listview .t_logbutton.mm-listitem{
  width: 50%;
}
#menu-location-main-menu .mm-listview{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.t_logbutton.mm-listitem:nth-child(1) {
  border-right: 1px solid #9be1d1;
}
.t_logbutton.mm-listitem {
  background-color: #38c4a4;
  padding: 15px 15px 10px!important;
  text-align: center;
}

.t_logbutton a:after{
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.t_logbutton a{
  font-family: DINOT;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff!important;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: visible;
  padding: 0;
  text-transform: uppercase;
}

@media only screen and (max-width : 1024px){
  .t_header_placeholder{
    padding-top: 25px;
  }
}
@media only screen and (max-width : 992px){

  .t_accordion_head{
    margin-top: 0;
    margin-bottom: 0;
  }
  .t_accordion_body,
  .hidden-md{
    display: none;
  }
  .t_register_form>.row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .t_simplepad {
    padding-left: 0;
    padding-right: 0;
  }
  .t_register_form .t_form_styler.right:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #d6d6d6;
    position: absolute;
    top: 30px;
    left: 0px;
  }
  .t_register_form .t_form_styler.right{
    padding-top: 60px;
    position: relative;
  }
  .t_account_form_wrap,
  .t_preference_choose{
    padding-left: 10px;
    padding-right: 10px;
  }
  .t_accordion_head{
    font-size: 18px;
  }
  .t_account_profile_title h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width : 767px){
  .t_account_profile_title h1 {
    padding-left: 0;
  }
  .t_account_profile_title h1 img{
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 10px;
  }
  .t_account_line {
    margin-bottom: 25px!important;
  }
  .t_accordion_head{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .t_account_profile_title{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width : 992px){
  .t_remember .t_forgot{
    position: absolute;
    top: 0;
    right: 0;
  }
  .t_accordion_head .arrow{
    display: none;
  }

  .remodal.confirm{
    background: #fff url(../images/t_rem.jpg) no-repeat center right!important;
    background-size: contain!important;
  }
  .visible-md{
    display: none;
  }
}
@media only screen and (min-width : 1025px){
  body.logged-in .t_header_placeholder{
    padding-top: 430px;
  }
  .t_header_placeholder{
    padding-top: 180px;
  }
  body.search .t_header_placeholder {
    padding-top: 430px;
  }
  .t_header_placeholder.t_header_placeholder--mini{
    padding-top: 140px;
  }

  .t_register_form .t_form_styler.left{
    position: relative;
    padding-right: 60px;
  }
  .t_register_form .t_form_styler.left:after{
    content: '';
    width: 1px;
    height: 100%;
    background: #d6d6d6;
    position: absolute;
    top: 0;
    right: 0px;
  }
}